/***** Generic Selectors *****/

body {
	background-color: rgb(10, 0, 30);
}

h1 {
	color: rgb(50, 50, 255);
	background-color: black;
	background-image: url('header_background.png');
	width: 700px;
	text-align: center;
	font-size: 40px;
}

p {
	color: rgb(255, 255, 255);
}

/***** Pseudo Classes *****/



/***** Classes *****/

.navLink {
	color: red;
}

/***** IDs *****/

#sideNav {
	width: 150px;
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 50px;
	border: 5px solid darkred;
}

#main{
	width: 1000px;
	float: left;
	margin: 0;
	padding: 0;
	display: inline;
}
